In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os

In [10]:
# Load the dataset
df = pd.read_csv('drug_listings.csv')

# Display the first 5 rows of the dataset
print(df.head())

                               product_title  \
0         10mg Diazepam Tabletten - 10 Stück
1         10mg Diazepam Tabletten - 50 Stück
2  Sonderpreis !!! 10x Diazepam Tropfen 25ml
3   Sonderpreis !!! 2x Diazepam Tropfen 25ml
4                        1 gr indian Ketamin

                                 product_description ship_from    ship_to  \
0  - 10mg Diazepam Tabletten - 10 Stück\n\n- Disk...   Germany  Worldwide
1  10 mg Diazepam / Valium / Valocordin Tabletten...   Germany  Worldwide
2  Diazepam / Valium / Valocordin Tropfen je Flas...   Germany  Worldwide
3  Diazepam / Valium / Valocordin Tropfen je Flas...   Germany  Worldwide
4  Very Strong Ketamin from India be careful\n\ni...   Austria  Worldwide

            seller    price source
0  1XAnOYMoUsX1BXx   $67.01   1776
1  1XAnOYMoUsX1BXx   $93.82   1776
2  1XAnOYMoUsX1BXx  $938.32   1776
3  1XAnOYMoUsX1BXx  $214.46   1776
4           ACAB23   $50.00   1776

In [9]:
# Display the last 5 rows of the dataset
print(df.tail())

                           product_title  \
194428         ∎∎ W. Domino XTC ∎∎ 220MG
194429       ∎∎ White Domino XTC ► 220mg
194430       ∎∎ White Domino XTC ► 220mg
194431       ∎∎ Yellow Grenades ∎∎ 170MG
194432  ∎∎ Yellow Grenades ∎∎ 170MG MDMA

                                      product_description    ship_from  \
194428  White Domino XTC Pills from the Netherlands\n\...  Netherlands
194429  White Domino XTC Pills from the Netherlands\n\...  Netherlands
194430  White Domino XTC Pills from the Netherlands\n\...  Netherlands
194431  White Domino XTC Pills from the Netherlands\n\...       Europe
194432  White Domino XTC Pills from the Netherlands\n\...       Europe

       ship_to                      seller                   price  \
194428     NaN  ∎∎ Sensi ▬ XTC, MDMA & THC  USD 42.86\nfor 5 Pills
194429     NaN  ∎∎ Sensi ▬ XTC, MDMA & THC  USD 42.48\nfor 5 Pills
194430     NaN  ∎∎ Sensi ▬ XTC, MDMA & THC  USD 42.82\nfor 5 Pills
194431     NaN  ∎∎ Sensi ▬ XTC, MDMA & THC  USD 30.08\nfor 5 Pills
194432     NaN  ∎∎ Sensi ▬ XTC, MDMA & THC        USD 10.02\nfor 1

                source
194428  themarketplace
194429  themarketplace
194430  themarketplace
194431  themarketplace
194432  themarketplace

In [3]:
# Display the shape of the dataset
print(df.shape)

# Display the columns of the dataset
print(df.columns)

# Display the data types of the columns
print(df.dtypes)

(194433, 7)
Index(['product_title', 'product_description', 'ship_from', 'ship_to',
       'seller', 'price', 'source'],
      dtype='object')
product_title          object
product_description    object
ship_from              object
ship_to                object
seller                 object
price                  object
source                 object
dtype: object

In [4]:
# Display the number of missing values in each column
print(df.isnull().sum())

product_title               4
product_description     13994
ship_from              141204
ship_to                130810
seller                    130
price                     486
source                      0
dtype: int64

In [5]:
# Display the number of unique values in each column
print(df.nunique())

product_title          133799
product_description    129209
ship_from                 184
ship_to                   450
seller                   6191
price                  148991
source                      8
dtype: int64

In [6]:
# Display the summary statistics of the dataset
print(df.describe())

               product_title  \
count                 194429
unique                133799
top     50x  Grüne Herbalife
freq                     181

                                      product_description      ship_from  \
count                                              180439          53229
unique                                             129209            184
top     This shipment is with tracking number. The shi...  United States
freq                                                  241          11456

          ship_to  seller   price  source
count       63623  194303  193947  194433
unique        450    6191  148991       8
top     Worldwide   rc4me  50 USD   agora
freq        21273    1848     210  124842

In [7]:
# Display the correlation matrix of the dataset
print(df.corr())

Empty DataFrame
Columns: []
Index: []

In [8]:
# Display the count of each unique value in the 'product_title' column
print(df['product_title'].value_counts())

50x  Grüne Herbalife                          181
10x  Grüne Herbalife                          164
25x  Grüne Herbalife                          159
5x  Grüne Herbalife                           151
100x  Grüne Herbalife                         150
                                             ...
Custom order for A****i                         1
BUPRENORPHINE Patch -- 70ug/h -- 40mg --        1
BUPRENORPHINE Patch -- 52,5ug/h -- 30mg --      1
5 x 'Stars' 140mg MDMA                          1
∎∎ Yellow Grenades ∎∎ 170MG MDMA                1
Name: product_title, Length: 133799, dtype: int64